<h1 id='introduction'>Introduction</h1>
<p>Shark offers a suite of public-facing APIs designed to facilitate integration with various applications and systems, particularly within the domains it specializes in. Here is a high-level introduction to the key features and functionalities of Shark&#39;s public-facing APIs:</p>

<ol>
<li><p><strong>Authentication and Authorization</strong>:</p>

<ul>
<li><strong>OAuth 2.0 Support</strong>: Shark APIs utilize OAuth 2.0 for secure authentication and authorization, ensuring that only authorized users and applications can access the data.</li>
<li><strong>API Keys</strong>: For simpler integrations, Shark also supports API keys, allowing developers to authenticate their requests with a unique key.</li>
</ul></li>
<br/>

<li><p><strong>Data Access and Management</strong>:</p>

<ul>
<li><strong>Data Retrieval</strong>: APIs provide endpoints for retrieving various types of data, such as user information, transaction history, and analytics reports.</li>
<li><strong>Data Insertion and Updates</strong>: Developers can use the APIs to insert new data or update existing records in the Shark system.</li>
<li><strong>Search and Filtering</strong>: Advanced search and filtering capabilities allow developers to query the data efficiently, using parameters like date ranges, status filters, and more.</li>
</ul></li>

<br/>
<li><p><strong>Analytics and Reporting</strong>:</p>

<ul>
<li><strong>Real-time Analytics</strong>: Access real-time analytics data, enabling applications to display up-to-the-minute information.</li>
<li><strong>Custom Reports</strong>: APIs allow the generation of custom reports based on specified criteria, providing flexibility in data analysis.</li>
</ul></li>
<br/>

<li><p><strong>Developer Resources</strong>:</p>

<ul>
<li><strong>Comprehensive Documentation</strong>: Detailed API documentation, including endpoint descriptions, request and response formats, error codes, and usage examples.</li>
</ul></li>

<br/>
<li><p><strong>Compliance and Security</strong>:</p>

<ul>
<li><strong>Data Encryption</strong>: All data transmitted via the APIs is encrypted to ensure security and privacy.</li>
<li><strong>Compliance</strong>: Shark APIs adhere to industry standards and regulations, such as GDPR making them suitable for use in regulated industries like finance.</li>
</ul></li>
</ol>

<h2 id='getting-started-with-shark-apis'>Getting Started with Shark APIs</h2>

APIs provided by Shark classifications ensure that only authorized users can access sensitive functionalities, while still allowing open access to non-sensitive information or system statuses.

### Authenticated APIs
The Authenticated endpoints require users to provide valid credentials before access is granted. These endpoints are secured, ensuring that only authorized users can interact with sensitive data or perform privileged operations. Authentication typically involves the use of tokens, API keys, or OAuth, which must be included in the request header. These endpoints are designed for operations that involve personal data, secure transactions, or actions that could impact the system's state or other users.

APIs that require trade permissions:

<table>
<tr><td><code>/v1/order/place-order</code></td></tr>
<tr><td><code>/v1/order/delete-order</code></td></tr>
<tr><td><code>/v1/order/add-margin</code></td></tr>
<tr><td><code>/v1/order/reduce-margin</code></td></tr>
<tr><td><code>/v1/exchange/update/leverage</code></td></tr>
<tr><td><code>/v1/order/cancel-all-orders</code></td></tr>
<tr><td><code>/v1/positions/close-all-positions</code></td></tr>

</table>

### Public APIs
The Public endpoints are accessible without any authentication, allowing open access to certain resources or information. These endpoints are designed to handle requests that do not require user identification or secure access, such as fetching general information, retrieving publicly available data, or providing status updates. While public, these endpoints are still subject to rate limiting and monitoring to prevent abuse or misuse of the system.

Endpoints which **DO NOT** require `api-key` and `signature` authentication:

<table>
<tr>
<td><code>/v1/market/klines</code></td></tr>
<tr><td><code>/v1/market/depth</code></td></tr>
<tr><td><code>/v1/market/aggTrade</code></td></tr>
<tr><td><code>/v1/market/ticker24Hr</code></td></tr>
</table>


<aside class="notice">
Base URLs for: <br/>
- Authenticated endpoints: <code>https://api.sharkexchange.in/ </code> <br/>
- Public endpoints: <code> https://api.sharkexchange.in/ </code>
</aside>

To begin using Shark Authenticated APIs, follow these steps:

1. API Key Creation <br/>
    Users can create an API key, which will be associated with a secret. The secret will be shown only once during the creation process.


2. Signature Generation <br/>
    -  For each authenticated request, users need to generate a signature using their secret key. <br/>
    - For GET requests: The data to be signed is the query string, which includes the timestamp and any other query parameters.<br/>
    - For POST/PUT/DELETE requests: The data to be signed is the body of the request, which includes the timestamp, and any other
fields. <br/>
    - The signature is generated by applying HMAC-SHA256 to the data (query string or body) using the user's secret key. <br/>
    - The generated signature is sent in the request headers along with the API key. <br/>

<h2 id="get-request">getRequest Function</h2>

The `getRequest` function sends a GET request to an API endpoint, handling both market and non-market endpoints differently. It adds a timestamp to the parameters for request uniqueness, generates a signature for authentication, and processes the response.

Sends a GET request to the specified endpoint with the given parameters:

- endpoint (string): The API endpoint to which the request is sent. <br/>
- params (Object, optional): Query parameters to include in the request. Defaults to an empty object.

```javascript
/**
 * Sends a GET request to the specified endpoint with the given parameters.
 *
 * @param {string} endpoint - The API endpoint to send the request to.
 * @param {Object} [params={}] - The query parameters to include in the request.
 * @returns {Promise<Object>} - The response data from the API.
 */
async function getRequest(endpoint, params = {}) {
    // Add a timestamp to the parameters for request uniqueness
    const timestamp = Date.now().toString();
    params.timestamp = timestamp;

    // Determine if the endpoint is a market endpoint
    const isMarketEndpoint = endpoint.startsWith("/v1/market");
    let url = "";
    const queryString = new URLSearchParams(params).toString();

    // Construct the URL based on the endpoint type
    if (isMarketEndpoint) {
        url = `${publicBaseUrl}${endpoint}`;
    } else {
        url = `${baseUrl}${endpoint}?${queryString}`;
    }

    // Generate a signature for the request
    const signature = crypto
      .createHmac("sha256", apiSecret)
      .update(queryString)
      .digest("hex");

    try {
        // Send the GET request
        const response = await axios.get(
            url,
            !isMarketEndpoint ? {
                headers: {
                    "api-key": apiKey,
                    "signature": signature,
                },
            } : {}
        );
        // Log and return the response data
        console.log("Response:", response.data);
        return response.data;
    } catch (error) {
        // Handle and log any errors that occur during the request
        console.error(
            "Error:",
            error.response ? error.response.data : error.message
        );
    }
}
```
### Response

Returns: A Promise that resolves to the response data from the API.

Error Handling: If an error occurs during the request, it logs the error message or response data to the console.

<h2 id="post-request">postRequest Function</h2>

The function sends POST requests to an API endpoint, handling both authenticated and public requests based on the endpoint URL.

- endpoint (string): The API endpoint to which the POST request is sent.
- params (object): The parameters to be included in the POST request body. This is optional and defaults to an empty object.

```javascript
// Generic POST request function
async function postRequest(endpoint, params = {}) {
  const timestamp = Date.now().toString();
  const isMarketEndpoint = endpoint.startsWith("/v1/market");
  const baseUrlToUse = isMarketEndpoint ? publicBaseUrl : baseUrl;
  const url = `${baseUrlToUse}${endpoint}`;

  if (!isMarketEndpoint) {
    params.timestamp = timestamp;
  }

  const signature = crypto
    .createHmac("sha256", apiSecret)
    .update(JSON.stringify(params))
    .digest("hex");

  try {
    const response = await axios.post(
      url,
      params,
      isMarketEndpoint
        ? {}
        : {
            headers: {
              "api-key": apiKey,
              signature: signature,
            },
          }
    );
    console.log("Response:", response.data);
    return response.data;
  } catch (error) {
    console.error(
      "Error:",
      error.response ? error.response.data : error.message
    );
    throw error; // Optional: re-throw the error if you want to handle it further up the call stack
  }
}
```
### Response

`console.log("Response:", response.data);` <br/>
Logs the response data to the console. <br/>

`return response.data;` <br/>
Returns the response data for further use.<br/>



<h2 id="patch-request">patchRequest Function</h2>

The function sends PATCH requests to an API endpoint.

- endpoint (string): The API endpoint to which the PATCH request is sent.
- params (object): The parameters to be included in the PATCH request body. This is optional and defaults to an empty object.

```javascript
// Generic PATCH request function
async function patchRequest(endpoint, params = {}) {
  const timestamp = Date.now().toString();
  const isMarketEndpoint = endpoint.startsWith('/v1/market');
  const baseUrlToUse = isMarketEndpoint ? publicBaseUrl : baseUrl;
  const url = `${baseUrlToUse}${endpoint}`;

  if (!isMarketEndpoint) {
    params.timestamp = timestamp;
  }

  const signature = crypto
    .createHmac('sha256', apiSecret)
    .update(JSON.stringify(params))
    .digest('hex');

  try {
    const response = await axios.patch(
      url,
      params,
      isMarketEndpoint
        ? {}
        : {
            headers: {
              'api-key': apiKey,
              signature: signature,
            },
          },
    );
    console.log('Response:', response.data);
    return response.data;
  } catch (error) {
    console.error(
      'Error:',
      error.response ? error.response.data : error.message,
    );
    throw error; // Optional: re-throw the error if you want to handle it further up the call stack
  }
}
```
### Response

`console.log("Response:", response.data);` <br/>
Logs the response data to the console. <br/>

`return response.data;` <br/>
Returns the response data for further use.<br/>





<h2 id="put-request">putRequest Function</h2>

This function, `putRequest`, is an asynchronous JavaScript function designed to send a signed `PUT` HTTP request to a specified API endpoint. Here's a breakdown of its components and behavior:

- endpoint: A string representing the API endpoint to which the request will be sent. It is appended to a base URL to form the complete request URL.
- params: An optional object containing the parameters to be included in the request body. If no parameters are provided, an empty object is used by default.


```javascript
const crypto = require('crypto');
const axios = require('axios');

async function putRequest(endpoint, params = {}) {
  const timestamp = Date.now().toString();
  params.timestamp = timestamp;

  const signature = crypto
    .createHmac("sha256", apiSecret)
    .update(JSON.stringify(params))
    .digest("hex");

  const url = `${baseUrl}${endpoint}`;

  try {
    const response = await axios.put(url, params, {
      headers: {
        "api-key": apiKey,
        "signature": signature,
      },
    });

    console.log("Response:", response.data);
    return response.data;

  } catch (error) {
    console.error(
      "Error:",
      error.response ? error.response.data : error.message
    );
  }
}
```

### Response
If the request is successful, the response data is logged to the console and returned by the function.


<h2 id="delete-request">deleteRequest Function</h2>

This deleteRequest function is an asynchronous JavaScript function designed to send a signed DELETE HTTP request to a specified API endpoint. Below is a detailed explanation of its components and behavior:

- endpoint: A string representing the API endpoint to which the DELETE request will be sent. It is appended to a base URL to form the complete request URL.
- params: An optional object containing the parameters to be included in the request. If no parameters are provided, an empty object is used by default.

```javascript
const crypto = require('crypto');
const axios = require('axios');

async function deleteRequest(endpoint, params = {}) {
  // Generate a timestamp and add it to the params
  const timestamp = Date.now().toString();
  params.timestamp = timestamp;

  // Create a cryptographic signature using HMAC with SHA-256
  const signature = crypto
    .createHmac("sha256", apiSecret)
    .update(JSON.stringify(params))
    .digest("hex");

  // Construct the full request URL
  const url = `${baseUrl}${endpoint}`;

  try {
    // Send the DELETE request using axios
    const response = await axios.delete(url, {
      headers: {
        "api-key": apiKey,
        "signature": signature,
      },
      data: params,
    });

    // Log and return the response data if the request is successful
    console.log("Response:", response.data);
    return response.data;

  } catch (error) {
    // Handle and log any errors that occur during the request
    console.error(
      "Error:",
      error.response ? error.response.data : error.message
    );
  }
}
```
