<h1 id='change-log'>Change Log</h1><h2 id='29-01-2026'>29-01-2026</h2>
<ol>
<li>New Endpoint:</li>
<ul>
<li>Get multiple orders <code>(POST /v1/order/get-multiple)</code></li>
</ul>
<br/>
</ol>

<h2 id='22-01-2026'>22-01-2026</h2>
<ol>
<li>New update klines:</li>
<ul>
<li>priceType <code>MARK_PRICE</code> or <code>LAST_PRICE</code> in <code>(POST /v1/market/klines)</code></li>
</ul>
<li>New Endpoint:</li>
<ul>
<li>Add Split Tp/Sl to an open position <code>(POST /v2/order/split-tp-sl)</code></li>
</ul>
<li>New Error codes:</li>
<ul>
<li>2300 for <code>(/v1/exchange/exchangeInfo)</code></li>
<li>2310, 2311, 2312, 2313, 2314, 2315, 2316 for <code>(/v1/exchange/update/preference)</code></li>
<li>3002, 3002, 3005, 3006, 3007, 3008, 3009, 3010, 3016, 3017, 3018, 3020, 3025, 3028, 3060, 3061, 3062, 3063, 3064, 3065, 3066 for <code>(/v1/order/edit-order)</code></li>
<li>3029 for <code>(/v1/order/place-order)</code></li>
<li>3030 for <code>(/v1/order/open-orders)</code></li>
<li>3032 for <code>(/v1/order/delete-order)</code></li>
<li>3033 for <code>(/v1/order/order-history)</code></li>
<li>3035 for <code>(/v1/order/add-margin)</code></li>
<li>3037 for <code>(/v1/order/reduce-margin)</code></li>
<li>3040 for <code>(/v1/order/linked-orders)</code></li>
<li>3053 for <code>(/v1/order/cancel-all-orders)</code></li>
<li>3054 for <code>(/v2/order/split-tp-sl)</code></li>
</ul>
<br/>
</ol>


<h2 id='16-12-2025'>16-12-2025</h2>
<ol>
<li>Added: Futures REST and WebSocket APIs</li>
<li>Added: Authentication and rate limiting docs</li>
<li>Added: Error codes and examples</li>
<br/>
</ol>