<h1 id='change-log'>Change Log</h1><h2 id='30-03-2026'>30-03-2026</h2>
<ol>
<li>Futures REST and WebSocket APIs</li>
<li>Authentication and rate limiting docs</li>
<li>Error codes and examples</li>
<br/>
</ol>
